@tailwind base;
@tailwind components;
@tailwind utilities;

/* 全局输入框代码字体样式 */
.n-input .n-input__textarea,
.n-input .n-input__input-el {
  font-family: Monaco, Consolas, 'Courier New', monospace !important;
  font-size: 14px !important;
  line-height: 1.5 !important;
}

/* JSON格式化组件样式 */
.vjs-tree {
  font-family: Monaco, Menlo, Consolas, Bitstream Vera Sans Mono, monospace;
  font-size: 15px;
  text-align: left;
}